body{
    background-color: #e7e7e8;
}
section{
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    box-shadow: 1em 1em 1em #dfdfdf;
    width: 50%;
    height: 50em; 
    margin: 5em auto;
    padding: 1em;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}
h1,
h3{
    text-align: center;
}
.itemInfo{
    display: flex;
    justify-content: space-around;
    padding: 0 0 0 1.5em;
    text-decoration: underline;
    font-weight: 600;
}
input{
    outline: none;
    width: 28%;
}
#addBtn,
#checkoutBtn{
    border: none;
    border-radius: 0.3em;
    background-color: #4CAF50;
    color: #ffffff;
    height: 2.5em;
    width: 18%;
}
#addBtn:hover,
#checkoutBtn:hover{
    cursor: pointer;
    background-color: #44a547;
}
.checkoutSection{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 0 0 1em;
}
.container{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    margin: 0 0 1em;
    border-radius: 0.5em;
}
